/*==========================================================================*/
/* -GENERAL START */
/*==========================================================================*/

@font-face {
	font-family: 'Cartoonish';
	src: url('Cartoonish.ttf'); 
}

body {
	margin: 0;
	font-family: 'Roboto', 'sans-serif';
	color: #222222;
	transition: all 0.5s ease-in-out;
  overflow-x: hidden;
}

* {
  transition: all 0.2s;
}

.bodyInvis {
	transform: translateY(-64px);
	opacity: 0;
}

::selection {
  background: #e8f5e9; /* WebKit/Blink Browsers */
}
::-moz-selection {
  background: #e8f5e9; /* Gecko Browsers */
}

a, br, .noselect {
	text-decoration: none;
	-webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}

div, a, p {
	box-sizing: border-box;
}

a:hover {
	cursor: pointer;
}

.mid:hover {
	cursor: none;
}

.z-depth-0 {
 	box-shadow: none !important;
}

.z-depth-1, nav, .card-panel, .card, .toast, .btn, .btn-large, .btn-floating, .dropdown-content, .collapsible, .side-nav {
 	box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
}

.z-depth-2 {
 	box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.14), 0 1px 7px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -1px rgba(0, 0, 0, 0.2);
}

.z-depth-3 {
 	box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.14), 0 1px 18px 0 rgba(0, 0, 0, 0.12), 0 3px 5px -1px rgba(0, 0, 0, 0.3);
}

.z-depth-4, .modal {
 	box-shadow: 0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12), 0 5px 5px -3px rgba(0, 0, 0, 0.3);
}

.z-depth-5 {
 	box-shadow: 0 16px 24px 2px rgba(0, 0, 0, 0.14), 0 6px 30px 5px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.3);
}

.hoverable {
	transition: box-shadow 0.3s ease-in-out;
}

.hoverable:hover {
	box-shadow: 0 16px 24px 2px rgba(0, 0, 0, 0.14), 0 6px 30px 5px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.3);
}

.sectionsBigContainer {
	/*background: linear-gradient(0deg, #fff, #e0f2f1);*/
	background: #fafafa;
	z-index: 10;
	position: relative;
}

.sectionSubtitle {
	letter-spacing: 2px;
	font-size: 3rem;
	margin: 0 auto;
	color: #222222;
	transition: all 1s;
	text-align: left;
	width: auto;
  font-weight: 200;
  text-transform: lowercase;
  line-height: 100%;
}

.sectionSubtitle.centered, .sectionSubtitleBlurb.centered {
  text-align: center;
}

.sectionSubtitleBlurb {
  letter-spacing: 1px;
  font-size: 1.4rem;
  margin: 0 auto;
  color: #616161;
  transition: all 1s 0.1s;
  text-align: left;
  width: auto;
  font-weight: 200;
  text-transform: lowercase;
  line-height: 100%;
  margin-top: 4px;
}

.sectionSubtitleUnderline {
  margin-top: 12px;
  height: 6px;
  background: #424242;
  transition: all 1s 0.5s;
}

.sectionSubtitleUnderline.center {
  margin: 0 auto;
}

.sectionSubtitleContainer.unscrolled > .sectionSubtitle {
  transform: translateY(50px);
  opacity: 0;
  visibility: hidden;
}

.sectionSubtitleContainer.unscrolled > .sectionSubtitleBlurb {
  transform: translateY(50px);
  opacity: 0;
  visibility: hidden;
}

.sectionSubtitleContainer.unscrolled > .sectionSubtitleUnderline {
  width: 0;
  opacity: 1;
  visibility: hidden;
}

.sectionSubtitleContainer.scrolled > .sectionSubtitle {
  transform: translateY(0);
  opacity: 1;
  visibility: visible;
}

.sectionSubtitleContainer.scrolled > .sectionSubtitleBlurb {
  transform: translateY(0);
  opacity: 1;
  visibility: visible;
}

.sectionSubtitleContainer.scrolled > .sectionSubtitleUnderline {
  width: 42px;
  opacity: 1;
  visibility: visible;
}

.sectionContainer {
	width: auto;
	position: relative;
	padding: 20vh 10%;
}

.sectionContainer.alternate {
  background: #f5f5f5;
}

.sectionSubContainer {
	max-width: 900px;
	margin: 0 auto;
}

.textLink {
	transition: all 0.3s ease-in-out;
}

.textLink:hover {
	color: #4bd6ac !important;
}

.unscrolledCombo.unscrolled > .unscrolledStandard {
	transform: translateY(50px);
	opacity: 0;
	visibility: hidden;
	transition: transform 1s, opacity 1s, visibility 1s;
	position: relative;
	z-index: 2;
}

.unscrolledCombo.unscrolled > .unscrolledHorizontal {
	transform: translateX(-100px);
	opacity: 0;
	visibility: hidden;
	transition: transform 0.75s 0.5s, opacity 0.75s 0.5s, visibility 0.75s 0.5s;
	position: relative; 
	z-index: 1;
}

.unscrolledCombo.scrolled > .unscrolledStandard {
	transform: translateY(0);
	opacity: 1;
	visibility: visible;
}

.unscrolledCombo.scrolled > .unscrolledHorizontal {
	transform: translateX(0);
	opacity: 1;
	visibility: visible;
}

.unscrolledStandard.unscrolled  {
	transform: translateY(50px);
	opacity: 0;
	visibility: hidden;
	transition: transform 1s, opacity 1s, visibility 1s;
	position: relative;
	z-index: 2;
}

.unscrolledStandard.scrolled {
	transform: translateY(0);
	opacity: 1;
	visibility: visible;
}

.unscrolledHorizontal.unscrolled  {
	transform: translateX(-100px);
	opacity: 0;
	visibility: hidden;
	transition: transform 0.75s 0.25s, opacity 0.75s 0.25s, visibility 0.75s 0.25s;
	position: relative; 
	z-index: 1;
}

.unscrolledHorizontal.scrolled {
	transform: translateX(0);
	opacity: 1;
	visibility: visible;
}

.hideOnSmall {
	display: none;
}

@media screen and (max-width: 601px) {

	.sectionSubtitle {
		font-size: 32px;
		text-align: left;
	}

	.sectionContainer {
		padding: 20vh 32px;
	}

	.sectionSubcontainer {
		text-align: left;
	}

	.hideOnSmall {
		display: block;
	}

}


/*==========================================================================*/
/* -GENERAL END */
/*==========================================================================*/


/*==========================================================================*/
/* -TEXT START */
/*==========================================================================*/

.standardText {
  font-size: 16px;
  font-weight: 300;
  margin: 0;
  line-height: 150%;
  letter-spacing: 0.5px;
  color: #424242;
  display: block;
}

.standardText.companyText {
  font-size: 32px;
  font-weight: 300;
  line-height: 100%;
  letter-spacing: 1px;
  margin-bottom: 8px;
}

.standardText.companyText.active {
  color: #2196f3;
  transition: all 0s;
}

.standardText.companyText.active:hover {
  color: #4fc3f7;
}

.standardText.positionText {
  font-size: 18px;
  color: #616161;
  line-height: 100%;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin-bottom: 4px;
}

.standardText.dateText {
  font-size: 14px;
  color: #9e9e9e;
  line-height: 100%;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin-bottom: 2px;
}

.standardText.descriptionText {
  font-size: 14px;
  line-height: 150%;
}

/*==========================================================================*/
/* -TEXT END */
/*==========================================================================*/


/*==========================================================================*/
/* -MENU START */
/*==========================================================================*/

.menuContainer {
	position: fixed;
	width: 100%;
	height: 100%;
	z-index: 100;
}

.menuIconContainer {
	position: fixed;
	top: 56px;
	right: 64px;
	height: 32px;
	width: 42px;
	z-index: 100;
}

.menuIconBarTop {
	width: 100%;
	height: 6%;
	background: #000;
}

.menuIconBarMid {
	width: 100%;
	height: 6%;
	background: #000;
}

.menuIconBarBot {
	width: 100%;
	height: 6%;
	background: #000;
}

.menuIconDivider {
	width: 100%;
	height: 41%;
}

/*==========================================================================*/
/* -MENU END */
/*==========================================================================*/


/*==========================================================================*/
/* -NAV START */
/*==========================================================================*/

.navBottom {
	height: 1px;
	margin: 0 auto;
	width: 0%;
	background: #222222;
	transition: width 1s cubic-bezier(0.6, 0, 0, 1),
				box-shadow 3s ease-in-out,
				background 1s ease-in-out 0.8s;
}

#navContainer {
	transition: all 1s ease-in-out;
}

#navContainer.active {
	box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
	background: #fff;
}

#navContainer.active .navBottom {
	width: 100%;
	background: #fff;
}

#navContainer.active .navItem {
	transform: translate(0);
	opacity: 1;
	visibility: visible;
}

#navContainer.active .resumeButton {
	opacity: 1;
	visibility: visible;
	transform: translateX(0);
}

.resumeButton {
	margin: 7px auto;
	display: inline-block;
	background: #47afde;
	color: #fff;
	font-size: 14px;
	border-radius: 18px;
	font-weight: 300;
	padding: 0 12px;
	line-height: 36px;
	height: 36px;
	letter-spacing: 1px;
	transition: all 0.2s ease-in-out;
	float: left;
	opacity: 0;
	visibility: hidden;
	transform: translateX(-32px);
	transition: background 0.3s ease-in-out 0s,
				transform 1s ease-in-out 0s,
				opacity 1s ease-in-out 0s,
				visbility 1s ease-in-out 0s;
}

.resumeButton:hover {
	background: #4fc3f7;
}

.navItem {
	float: right;
	line-height: 50px;
	display: inline-block;
	padding: 0 24px;
	transform: translateY(-16px);
	opacity: 0;
	visibility: visible;
}

.navItem:hover {
	border-bottom: 1px solid #4fc3f7;
	color: #4fc3f7;
}

#navItem1 {
	transition: color 0.3s ease-in-out,
				transform 1s ease-in-out 0s,
				opacity 1s ease-in-out 0s,
				visibility 1s ease-in-out 0s;
}

#navItem2 {
	transition: color 0.3s ease-in-out,
				transform 1s ease-in-out 0.1s,
				opacity 1s ease-in-out 0.1s,
				visibility 1s ease-in-out 0.1s;
}

#navItem3 {
	transition: color 0.3s ease-in-out,
				transform 1s ease-in-out 0.2s,
				opacity 1s ease-in-out 0.2s,
				visibility 1s ease-in-out 0.2s;
}

#navItem4 {
	transition: color 0.3s ease-in-out,
				transform 1s ease-in-out 0.3s,
				opacity 1s ease-in-out 0.3s,
				visibility 1s ease-in-out 0.3s;
}

#navItem5 {
	transition: color 0.3s ease-in-out,
				transform 1s ease-in-out 0.4s,
				opacity 1s ease-in-out 0.4s,
				visibility 1s ease-in-out 0.4s;
}

@media screen and (max-width: 601px) {

	.navContainer {
		display: none;
	}

}

/*==========================================================================*/
/* -NAV END */
/*==========================================================================*/


/*==========================================================================*/
/* -HOME START */
/*==========================================================================*/

.mikeImageWide {
  object-fit: cover;
  width: 100vw;
  height: 50vh;
  max-height: 400px;
  filter: grayscale(30%);
  display: block;
  margin: auto;
}

.homeContainer {
	width: 100%;
	height: 100vh;
	overflow: hidden;
	display: flex;
	flex-direction: column;
	justify-content: center;
	text-align: left;
	z-index: 3;
	position: relative;
	display: grid;
	/*grid-template: 
		[row1-start] "h2" 100vh [row1-end]
		/100%;*/
}

.homeIcon {
	position: absolute;
	margin: 0 auto;
	color: #4db6ac;
	display: block;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -53%);
	z-index: 1;
	opacity: 0;
	transition: all 0.75s ease-in-out;
	transition-delay: 0.1s;
}

.homeIconOn {
	opacity: 0.1;
	transform: translate(-50%, -50%);
}

.homeLink {
	transition: all 0s ease-in-out;
	-ms-transition: all 0s ease-in-out;
	-webkit-atransition: all 0s ease-in-out;
	border-left: 5px solid transparent;
	/*padding-left: 12px;*/
	position: relative;
	height: 3rem;
	padding-left: 0;
    opacity: 0;
    visibility: hidden;
    transition: padding-left 1s,
    			opacity 1s,
    			visibility 1s;
}

.homeLink:hover {
	border-left: 5px solid #4fc3f7;
	color: #4fc3f7;
}

.homeLinks {
	color: #222222;
	font-size: 1.5rem;
	letter-spacing: 3px;
	text-transform: none;
	z-index: 2;
	position: relative;
	text-align: center;
	border: 0px solid #fff;
	display: inline-block;
	width: auto;
	margin: -10rem auto 0 auto;
	padding: 24px;
	border-radius: 5px;
	position: relative;
	opacity: 0;
	transition: all 1s 1.5s;
	transform: translateY(40px);
}

.homeLinks.active.gone.return {
	opacity: 1;
	transform: translateY(0);
	color: #fff;
	text-shadow: 2px 4px 20px #000000;
}

.landingSection {
	background: linear-gradient(0deg, #fafafa, #e8f5e9);
	display: flex;
	flex-direction: column;
	justify-content: center;
	height: 100vh;
	width: 100vw;
	transition: all 0.5s;
	position: relative;
}

.landingSectionOverlay {
	background: #fff;
	height: 100vh;
	width: 100vw;
	transition: all 0.5s ease-in-out;
	position: absolute;
	opacity: 0;
}

/*.landingSectionOverlay.scrolled {
	opacity: 0;
}*/

.mikeImage {
	object-fit: cover;
	transition: all 1s;
	height: 50vh;
	width: 50vh;
	border-radius: 50%;
	margin: 0 auto;
	transform: translateY(32px);
	filter: grayscale(100%);
	opacity: 0;
	box-shadow: 0 16px 24px 2px rgba(0, 0, 0, 0.14), 0 6px 30px 5px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.3);
}

.mikeImage.active {
	transform: translateY(0);
	opacity: 1;
	filter: grayscale(20%);
}

.homeLink.active {
	padding-left: 0;
    opacity: 1;
    visibility: visible;
}

#homeLinkProjects.active {
	padding-left: 0;
    opacity: 1;
    visibility: visible;
}

#homeLinkDoodles.active {
	padding-left: 0;
    opacity: 1;
    visibility: visible;
}

#homeLinkPhotos.active {
	padding-left: 0;
    opacity: 1;
    visibility: visible;
}

#homeLinkContact.active {
	padding-left: 0;
    opacity: 1;
    visibility: visible;
}

.homeContactMe {
	display: grid;
	grid-template: 
		[row1-start] "c1 c2" 2rem [row1-end]
		/2rem 2rem;
	grid-gap: 8px;
	width: calc(4rem + 8px);
	margin: 0 auto;
	position: relative;
	z-index: 2;
}

.homeContactMeLink {
	font-size: 2rem;
	float: left;
	display: block;
	color: #fff;
	transition: all 0.5s;
}

.homeContactMeLink:hover {
	color: #4bd6ac;
}

.homeCurtain1 {
	position: absolute;
	left: 0;
	width: 50%;
	height: 100%;
	background: #fff;
	transition: all 3s;
}

.homeCurtain2 {
	position: absolute;
	right: 0;
	width: 50%;
	height: 100%;
	background: #fff;
	transition: all 3s;
}

.homeCurtain3 {
	position: absolute;
	top: 0;
	height: 50%;
	width: 100%;
	background: #fff;
	transition: all 3s;
}

.homeCurtain4 {
	position: absolute;
	bottom: 0;
	height: 50%;
	width: 100%;
	background: #fff;
	transition: all 3s;
}

.homeCurtainFull {
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	background: #000000;
	transition: all 5s;
}

.homeCurtain1.active, .homeCurtain2.active {
	opacity: 0;
}

.homeCurtain3.active, .homeCurtain4.active {
	opacity: 0;
}

.homeCurtainFull.active {
	opacity: 0;
}

@media screen and (max-width: 601px) {

	.mikeImage {
		width: auto;
	}

}

/*==========================================================================*/
/* -HOME END */
/*==========================================================================*/



/*==========================================================================*/
/* -MIKE START */
/*==========================================================================*/

.mikeGrid {
	width: auto;
	height: auto;
	position: relative;
	display: grid;
	grid-gap: 64px;
	grid-template:
		[row1-start] "c1 c2" 1fr [row1-end]
		/400px 1fr;
}

.aboutText {
	font-size: 1.5rem;
	font-weight: 300;
	line-height: 180%;
	margin: 0;
	text-align: left;
}

.experienceBigContainer {
  display: flex;
  align-items: flex-start;
  align-content: center;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
}

.experienceContainer {
  width: 250px;
  margin: 12px 12px;
  transition: all 1s;
}

.experienceContainer.experienceUnscrolled.unscrolled {
  transform: translateY(24px);
  opacity: 0;
  visibility: hidden;
}

.experienceContainer.experienceUnscrolled.unscrolled > .skillLevel {
  transform: translateX(12px);
  opacity: 0;
}

.experienceContainer.experienceUnscrolled.unscrolled > .experienceBarContainer {
  opacity: 0;
  transform: translateY(12px);
}

.experienceContainer.experienceUnscrolled.unscrolled > .experienceBarContainer > .experienceBar {
  width: 0;
  opacity: 0;
}

.experienceContainer.experienceUnscrolled.scrolled {
  transform: translateY(0);
  opacity: 1;
  visibility: visible;
}

.experienceContainer.experienceUnscrolled.scrolled > .skillLevel {
  transform: translateX(0);
  opacity: 1;
}

.experienceContainer.experienceUnscrolled.scrolled > .experienceBarContainer {
  opacity: 1;
  transform: translateY(0);
}


.experienceContainer.experienceUnscrolled.scrolled > .experienceBarContainer > .experienceBar {
  opacity: 1;
}

.experienceBar {
	height: 100%;
	border-radius: 2px;
	background: #222222;
	transition: width 0.5s cubic-bezier(0.6, 0, 0, 1) 1s, opacity 0.5s 1s;
	/*transition: all 1s;*/
}

.experienceContainer.experienceUnscrolled.scrolled > .experienceBarContainer > .experienceBar1 {
  width: 10%;
}

.experienceContainer.experienceUnscrolled.scrolled > .experienceBarContainer > .experienceBar2 {
  width: 20%;
}

.experienceContainer.experienceUnscrolled.scrolled > .experienceBarContainer > .experienceBar3 {
  width: 30%;
}

.experienceContainer.experienceUnscrolled.scrolled > .experienceBarContainer > .experienceBar4 {
  width: 40%;
}

.experienceContainer.experienceUnscrolled.scrolled > .experienceBarContainer > .experienceBar5 {
  width: 50%;
}

.experienceContainer.experienceUnscrolled.scrolled > .experienceBarContainer > .experienceBar6 {
  width: 60%;
}

.experienceContainer.experienceUnscrolled.scrolled > .experienceBarContainer > .experienceBar7 {
  width: 70%;
}

.experienceContainer.experienceUnscrolled.scrolled > .experienceBarContainer > .experienceBar8 {
  width: 80%;
}

.experienceContainer.experienceUnscrolled.scrolled > .experienceBarContainer > .experienceBar9 {
  width: 90%;
}

.experienceContainer.experienceUnscrolled.scrolled > .experienceBarContainer > .experienceBar10 {
  width: 100%;
}

.experienceTextContainer {
	position: absolute; 
	display: flex;
	z-index: 11;
	top: 0;
	left: 0;
	justify-content: center;
	align-items: center;
	height: 100%;
	width: 100%;
}

.experienceBarContainer {
  width: 100%;
  height: 20px;
  border-radius: 3px;
  overflow: hidden;
  border: 1px solid #bdbdbd;
  padding: 1px;
  transition: all 1s 0.1s;
}

.experienceText {
	font-size: 18px;
	text-align: center;
	color: #47afde;
	margin: 24px;
	font-weight: 400;
}

.standardText.skillTitle {
  font-size: 1rem;
  color: #757575;
  margin-right: 12px;
  float: left;
  font-weight: 400;
}

.standardText.skillLevel {
  font-size: 1rem;
  color: #9e9e9e;
  float; left;
  transition: all 0.5s 0.5s;
}

@media screen and (max-width: 991px) {

	.mikeGrid {
		width: auto;
		height: auto;
		position: relative;
		display: grid;
		grid-template:
			[row1-start] "c1" auto [row1-end]
			[row2-start] "c2" 1fr [row2-end]
			/100%;
	}

	.aboutText {
		font-size: 1rem;
		line-height: 1.5rem;
	}

}

/*==========================================================================*/
/* -MIKE END */
/*==========================================================================*/



/*==========================================================================*/
/* -PROJECT START */
/*==========================================================================*/

.projectsGrid {
	position: relative;
	width: auto;
	height: auto;
	display: grid;
	grid-gap: 48px;
	grid-template:
		[row1-start] "card1" auto [row1-end]
		[row2-start] "card2" auto [row2-end]
		[row3-start] "card3" auto [row3-end]
		[row3-start] "card4" auto [row3-end]
		/100%;
}

.projectsSubGrid {
	background: transparent;
	border-radius: 5px;
	position: relative;
	width: auto;
	height: auto;
	display: grid;
	margin-bottom: 64px;
	grid-template:
		[row1-start] "card description" auto [row1-end]
		/240px auto;
}

.projectCard {
	height: 240px;
	width: 240px;
	border-radius: 5px;
	overflow: hidden;
	position: relative;
	padding: 24px;
	transition: all 0.5s ease-in-out;
	border-radius: 50%;
}

.projectCardCover {
	height: 100%;
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	transition: all 0.5s ease-in-out;
	position: absolute;
	top: 0;
	left: 0;
	opacity: 1;
	z-index: 2;
}

.projectCardDescriptionContainer {
	display: flex;
	flex-direction: column;
	padding-top: 16px;
	z-index: 1;
}

.projectCardDescription {
	margin: 0;
	font-size: 1.1rem;
	font-weight: 300;
	padding-left: 48px;
	color: #222222;
	text-align: left;
	line-height: 1.6rem;
}

.projectLink {
	color: #222222;
	line-height: 2rem;
	font-size: 1.5rem;
	font-weight: 300;
}

.projectLink.active {
	color: #2196f3;
}

.projectLink.active:hover {
	color: #4fc3f7;
}

/*
.projectCard:hover {
	transform: translateY(-4px);
}

.projectCard:hover > .projectCardCover {
	opacity: 0.1 !important;
}

.projectCard:hover > .projectCardDescription {
	transform: translate(0);
	opacity: 1;
	visibility: visible;
}
*/

@media screen and (max-width: 991px) {

	.projectCard {
		margin: 0 auto 2vh auto;
	}

	.projectsGrid {
		grid-gap: 64px;
		grid-template:
			[row1-start] "card1" auto [row1-end]
			[row2-start] "card2" auto [row2-end]
			[row3-start] "card3" auto [row3-end]
			[row4-start] "card4" auto [row4-end]
			/100%;
	}

	.projectsSubGrid {
		background: transparent;
		border-radius: 5px;
		position: relative;
		width: auto;
		height: auto;
		display: grid;
		grid-template:
			[row1-start] "card" [row1-end]
			[row2-start] "description" auto [row2-end]
			/100%;
	}

	.projectCardDescription {
		padding-left: 0;
		text-align: center;
	}

}

/*==========================================================================*/
/* -PROJECT END */
/*==========================================================================*/


/*==========================================================================*/
/* -DOODLE START */
/*==========================================================================*/

.doodleContainer {
	width: auto;
	position: relative;
	display: grid;
	grid-gap: 48px;
	padding: 0;
	grid-template:
		[row1-start] "c1 c2" 100% [row1-end]
		/300px 1fr;
}

.doodleGrid1 {
	height: 100%;
	width: 100%;
	float: left;
	display: flex;
	flex-direction: column;
	justify-content: center;
	grid-area: c1;
	position: relative;
}

.doodleGrid2 {
	float: left;
	width: auto;
	grid-area: c2;
	padding: 16px 0;
	position: relative;
}

.doodleHeader {
	margin: 0;
	font-size: 1.1rem;
	font-weight: 300;
	color: #222222;
	text-align: left;
}

.doodleModalBackground {
	position: fixed;
	width: 100vw;
	height: 100vh;
	top: 0;
	left: 0;
	background: #000;
	opacity: 0.5;
	z-index: 99;
	opacity: 0;
	visibility: hidden;
	transition: all 0.5s;
}

.doodleModal {
	position: fixed;
	top: 10vh;
	left: 10vw;
	width: 80vw;
	height: 80vh;
	background: #fff;
	border-radius: 10px;
	z-index: 100;
	visibility: hidden;
	opacity: 0;
	transform: translateY(64px);
	transition: all 0.5s;
	overflow: hidden;
}

#doodleModalContainer.active > .doodleModal {
	opacity: 1;
	transform: translateY(0);
	visibility: visible;
}

#doodleModalContainer.active > .doodleModalBackground {
	opacity: 0.3;
	visibility: visible;
}

.doodleModalTop {
	min-height: 54px;
	padding: 0 24px;
	width: 100%;
	border-bottom: 1px solid #eceff1;
	display: flex;
	align-items: center;
	flex-direction: row;
	justify-content: space-between;
}

.doodleModalTopHeader {
	margin: 0;
	font-size: 18px;
	font-weight: 300;
	letter-spacing: 1px;
	text-transform: uppercase;
	float: left;
}

.closeButtonContainer {
	height: 26px;
	width: 26px;
	position: relative;
	display: block;
}
 
.closeButtonLine {
	height: 2px;
	width: 0;
	background: #b0bec5;
	position: absolute;
	top: 15px;
	left: 13px;
	transition: left 0.75s .25s, width 0.75s .25s, transform .5s .5s, background 0.3s;
}

.closeButtonContainer:hover > .closeButtonLine{
	background: red;
}

#doodleModalContainer.active .closeButtonLine {
	width: 100%;
	left: 0;
}

#doodleModalContainer.active .closeButtonLine1 {
	transform: rotate(45deg);

}

#doodleModalContainer.active .closeButtonLine2 {
	transform: rotate(-45deg); 
}

.doodleModalContentContainer {
	height: 100%;
	width: 100%;
	padding: 24px;
}

@media screen and (max-width: 991px) {

	.doodleContainer {
		width: auto;
		position: relative;
		display: grid;
		padding: 0;
		grid-template:
			[row1-start] "c1" auto [row1-end]
			[row2-start] "c2" auto [row2-end]
			/1fr;
	}

	.doodleHeader {
		text-align: center;
	}

}

/*==========================================================================*/
/* -DOODLE END */
/*==========================================================================*/


/*==========================================================================*/
/* -TTT START */
/*==========================================================================*/

.TTTBox {
	width: 300px;
	height: 300px;
	margin: 0 auto;
	display: grid;
	padding: 24px;
	border-radius: 16px;
	grid-gap: 2%;
	grid-template:  
		[row1-start] "b0 b1 b2" 32% [row1-end]
		[row2-start] "b3 b4 b5" 32% [row2-end]
		[row3-start] "b6 b7 b8" 32% [row3-end]
		/32% 32% 32%;
	background: #fff;
}

.TTTSpot {
	width: 100%;
	height: 100%;
	display: flex;
	background: #e0e0e0;
	flex-direction: column;
	justify-content: center;
	transition: all 0.5s;
	border-radius: 5px;
}

.TTTSpotSelected {
	background: #fff !important;
}

.TTTSpot:hover {
	background: #222222;
}

.TTTIcon {
	color: #222222;
	display: block;
	font-size: 4rem !important;
	text-align: center;
}

.TTTComputerWinSpot {
	background: red !important;
	box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
}

.TTTComputerWinSpot > i {
	color: #fff !important;	
}

.TTTPlayerWinSpot {
	background: green !important;
	box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
}

.TTTTieSpot {
	background: yellow !important;
	box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
}

.TTTgameOver {
	position: absolute;
	left: 16px;
	bottom: 16px;
	text-align: center;
	transform: translateY(-16px);
	-ms-transform: translateY(-16px);
	-webkit-transform: translateY(-16px);
	opacity: 0;
	visibility: hidden;
	transition: opacity 0.5s, transform 0.5s;
	-ms-transition: opacity 0.5s, transform 0.5s; 
    -webkit-transition: opacity 0.5s, transform 0.5s; 
}

.TTTgameOver.active {
	transform: translate(0);
	opacity: 1;
	visibility: visible;
}

.TTTgameOver .TTTrenew {
	display: none;
}

.TTTgameOver.active .TTTrenew {
	display: block;
}

.TTTgameOverText {
	margin: 0;
	font-size: 1.2rem;
	padding: 0 12px;
	line-height: 2.5rem;
	border-radius: 5px;
	font-weight: 300;
	background: #fff;
	display: inline-block;
	float: left;
	margin-right: 4px;
}

.TTTrenew {
	margin: 0;
	padding: 0 12px;
	border-radius: 5px;
	background: #fff;
	display: inline-block;
	float: left;
	transition: all 0.5s;
}

.TTTrenewIcon {
	font-size: 1.2rem !important;
	line-height: 2.5rem !important;
	transition: all 0.5s ease-in-out;
}

.TTTrenew:hover {
	background: #eeeeee;
}

.TTTrenew:hover > i { 
    transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
}

/*==========================================================================*/
/* -TTT END */
/*==========================================================================*/


/*==========================================================================*/
/* -PARSONS START */
/*==========================================================================*/

.parsonsBox {
	width: 300px;
	height: auto;
	margin: 0 auto;
	padding: 24px;
	border-radius: 16px;
	background: #fff;
}

.parsonsPlay {
	display: block;
	height: 48px;
	width: 100%;
	border-radius: 5px;
	padding: 0 24px;
	margin-bottom: 8px;
	color: #fff;
	transition: all 0.3s;
}

.parsonsPlay.parsonsBlue {
	background: #90caf9;
}

.parsonsPlay.parsonsGreen {
	background: #a5d6a7;
}

.parsonsPlay.parsonsRed {
	background: #ef9a9a;
}

.parsonsPlay.parsonsBlue:hover {
	background: #64b5f6;
}

.parsonsPlay.parsonsGreen:hover {
	background: #81c784;
}

.parsonsPlay.parsonsRed:hover {
	background: #e57373;
}

.parsonsPlayName {
	margin: 0 auto;
	display: inline-block;
	text-transform: uppercase;
	line-height: 48px;
	font-weight: 300;
	float: left;
	letter-spacing: 0.5px;
}

.parsonsPlayArrow {
	margin: 0 auto;
	display: inline-block;
	line-height: 48px !important;
	float: right;
	opacity: 0.7;
}

.parsonsProblemDescription {
	margin: 0 0 24px 0;
	font-size: 18px;
	font-weight: 300;
	letter-spacing: 0.5px;
}

.parsonsGrid {
	display: grid;
	padding: 0;
	grid-gap: 6px;
	grid-template:
		[row1-start] "p1 p2" auto [row1-end]
		/1fr 1fr;
}

.parsonsBlanks {
	grid-area: p1;
	height: 100%;
	width: 100%;;
}

.parsonsOptions {
	grid-area: p2;
	height: 100%;
	width: 100%;
}

/*==========================================================================*/
/* -PARSONS END */
/*==========================================================================*/


/*==========================================================================*/
/* -PHOTOS START */
/*==========================================================================*/

.photosGrid {
	display: grid;
	padding: 0;
	grid-gap: 6px;
	grid-template:
		[row1-start] "p1 p2 p3 p4" auto [row1-end]
		[row1-start] "p5 p6 p7 p8" auto [row1-end]
		/1fr 1fr 1fr 1fr;
}

.photosPhoto {
	height: 100%;
	width: 100%;
	object-fit: cover;
	filter: grayscale(0.9);
}

.photosPhoto:hover {
	filter:grayscale(0);
	cursor: pointer;
}

@media screen and (max-width: 991px) {

	.photosGrid {
		display: grid;
		padding: 0;
		grid-gap: 6px;
		grid-template:
			[row1-start] "p1 p2" auto [row1-end]
			[row2-start] "p3 p4" auto [row2-end]
			[row3-start] "p5 p6" auto [row3-end]
			[row3-start] "p7 p8" auto [row3-end]
			/1fr 1fr;
	}

}

/*==========================================================================*/
/* -PHOTOS END */
/*==========================================================================*/


/*==========================================================================*/
/* -CONTACT START */
/*==========================================================================*/

.contactLink {
	padding: 8px 16px;
	border-bottom: 5px solid transparent;
	display: block;
	float: left;
}

.contactIcon {
	width: auto;
	height: 128px;
	background: #fff;
	transition: box-shadow 0.3s;
}

@media screen and (max-width: 601px) {

	.contactLink {
		float: none;
		padding: 16px;
	}

}

/*==========================================================================*/
/* -CONTACT END */
/*==========================================================================*/